/* A aplicação do asterisco(*) no arquivo de CSS informa ao navegados
 que TODOS os elementos da tela receberão esta formatação */
* {
  margin: 0; /*estamos zerando as margens externas dos elementos*/
  padding: 0; /*estamos zerando as margens internas dos elementos*/
}

/* Vamos aplicar na tag header cor de fundo e padding */
header {
  /* background-color: #dd2c00; */
  background-image: url("../img/fundo8.jpg");
  background-size: 100%;
  background-position: 0 -650px;
  padding-top: 150px;
  transition: all 2s; /*Efeito de animação com trasition. Efeito ease com tem
                      de 2s*/
}

/* formatar a tag h1 que está dentro do header. Veja como fazemos */
header h1 {
  color: #000; /*cor da letra*/
  font-family: "arial"; /*mudar o tipo da letra para arial*/
  text-align: center; /*alinhamento do texto ao centro*/
}

header nav {
  background-color: #600;
  text-align: center;
  padding: 5px;
}

header nav ul li {
  /* exibir os itens da lista um ao lado do outro. Usaremos
  o comando display(tela|exibir) inline-block(blocos em linha) */
  display: inline-block;
  margin: 5px;
}

header nav ul li a {
  color: #fff;
  font-family: arial;
  text-decoration: none; /*retirar a decoração do texto, ou seja, tirar o underline*/
}

header nav ul li a:hover {
  color: red;
}

footer{
  /* aplicar uma cor de fundo ao rodapé */
  background-color: rgb(114, 37, 2);
  /* aplicar margem interna */
  padding:20px;
  padding-top: 40px;
  height: 110px;/*Altura do rodape*/
}

/* Para fazer uma formatação em uma tag que um id definido é necessário que 
você dicione um sustenido(#) ao inicio do nome do id. Neste caso nossa div
tem id chamado end, então aplicamos desta forma: #end */
footer #end{
  color:#fff;
  font-family: verdana;
  font-size:10pt;
  float:left;
  /* border:solid 1px green; */
}
footer #redes{
  /* border:solid 1px green; */
  float:right;
}
footer #redes a{
  text-decoration: none;
}

footer #redes a img{
  width:40px; /*diminuir a largura da imagem*/
  height: 40px;/*diminuir a altura da imagem*/
  margin:5px;
  transition: ease .5s;
}

footer #redes a img:hover{
  /* realizar uma rotação de 360 graus(deg) */
  transform: rotate(360deg);
}





















