/* A aplicação do asterisco(*) no arquivo de CSS informa ao navegados
 que TODOS os elementos da tela receberão esta formatação */
* {
  margin: 0; /*estamos zerando as margens externas dos elementos*/
  padding: 0; /*estamos zerando as margens internas dos elementos*/
}

/* Vamos aplicar na tag header cor de fundo e padding */
header {
  /* background-color: #dd2c00; */
  background-image: url("../img/fundo8.jpg");
  background-size: 100%;
  background-position: 0 -650px;
  padding-top: 150px;
  transition: all 2s; /*Efeito de animação com trasition. Efeito ease com tem
                      de 2s*/
}

/* formatar a tag h1 que está dentro do header. Veja como fazemos */
header h1 {
  color: #000; /*cor da letra*/
  font-family: "arial"; /*mudar o tipo da letra para arial*/
  text-align: center; /*alinhamento do texto ao centro*/
}

header nav {
  background-color: #600;
  text-align: center;
  padding: 5px;
}

header nav ul li {
  /* exibir os itens da lista um ao lado do outro. Usaremos
  o comando display(tela|exibir) inline-block(blocos em linha) */
  display: inline-block;
  margin: 5px;
}

header nav ul li a {
  color: #fff;
  font-family: arial;
  text-decoration: none; /*retirar a decoração do texto, ou seja, tirar o underline*/
}

header nav ul li a:hover {
  color: red;
}

footer {
  /* aplicar uma cor de fundo ao rodapé */
  background-color: rgb(114, 37, 2);
  /* aplicar margem interna */
  padding: 20px;
  padding-top: 40px;
  height: 110px; /*Altura do rodape*/
}

/* Para fazer uma formatação em uma tag que um id definido é necessário que 
você dicione um sustenido(#) ao inicio do nome do id. Neste caso nossa div
tem id chamado end, então aplicamos desta forma: #end */
footer #end {
  color: #fff;
  font-family: verdana;
  font-size: 10pt;
  float: left;
  /* border:solid 1px green; */
}
footer #redes {
  /* border:solid 1px green; */
  float: right;
}
footer #redes a {
  text-decoration: none;
}

footer #redes a img {
  width: 40px; /*diminuir a largura da imagem*/
  height: 40px; /*diminuir a altura da imagem*/
  margin: 5px;
  transition: ease 0.5s;
}

footer #redes a img:hover {
  /* realizar uma rotação de 360 graus(deg) */
  transform: rotate(360deg);
}

/* -------- Início da formatação da página index--------------- */

main h2 {
  font-family: arial;
  font-size: 15pt;
  margin: 50px;
  border-bottom: #600 1px solid;
}

main p {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px; /*margem na parte inferior de cada paragrafo*/
  text-align: justify; /* alinhamento do texto justificado*/
  font-size: 12pt; /*tamanho da letra do texto*/
  line-height: 20pt; /*altura da linha, que dá um efeito de espaçamento entre linhas*/
  font-family: arial;
}

main #imghome {
  text-align: center;
}

main #imghome img {
  width: 500px; /*largura da imagem*/
  height: 500px; /*altura da imagem*/
  /* vamos arredondar os cantos da imagem com o comando
  border-radius. O valor pode ser em pixel ou porcentagem */
  border-radius: 50%;
  margin: 10px;
  opacity: 0.6;
  transition: ease 0.5s;
}
main #imghome img:hover {
  opacity: 1;
  transform: scale(1.2);
}

/* -------- Fim da formatação da página index ----------------- */

/* ------- início da formatação da página historia ---------- */

main #imghistoria {
  text-align: center;
}
main #imghistoria img {
  width: 300px;
  height: 300px;
  margin: 10px;
}

main #video {
  text-align: center;
}
main #video iframe {
  width: 90%;
  height: 400px;
}

/* ------- Fim da formatação da página historia ------------- */

/* -------- Início da formatação da página cardápio--------- */

/* main #area,
main #area #conteudo,
main #area #conteudo #img,
main #area #conteudo #texto {
  border: 2px solid lime;
} */

main #area #conteudo #img img {
  width: 200px;
  height: 180px;
}
main #area #conteudo #img {
  width: 210px;
  /* Fazer a caixa de imagem flutuar para a esquerda */
  float: left;
}

main #area #conteudo #texto {
  width: 600px;
  float: left;
}

/* aplicar a exibição(display) inline-block para as
caixas area e conteudo */
main #area,
main #area #conteudo {
  display: inline-block;
  width: 90%;
}
main #area #conteudo #texto h5 {
  font-family: arial;
  font-size: 14pt;
  margin: 5px;
}
main #area #conteudo #texto span {
  color: red;
}

main #area #conteudo {
  margin-left: 50px;
  /* aplicar uma borda na parte inferior desta caixa */
  border-bottom: 1px solid silver;
}
main h3 {
  font-family: arial;
  font-size: 20pt;
  margin: 50px;
}

/*--------- Fim da formatação da página cardápio -----------*/

/* ----- Início da formatação da página localização ----*/

main #mapa iframe {
  width: 100%;
  height: 500px;
}

/* ------- Fim da formatação da página localização */

/* ---- Início da formatação da página contato ------*/

form {
  border: 1px solid silver;
  width: 500px;

  /* para alinha o formulário ao centro iremos
  utilizar o comando margin-left: auto e o comando
  margin-right:auto; */

  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

/* Vamos fazer a formatação dos elementos do formulário 
capturando todos seus respectivos tipos. Veja abaixo */
input[type="text"],
input[type="email"],
form span,
textarea {
  display: block;
  width: 96%;
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-family: arial;
  font-size: 10pt;
}

select {
  margin: 5px;
}

textarea {
  height: 200px;
}

input[type="submit"] {
  width: 60px;
  height: 60px;
  background-color: #600;
  border-radius: 50%;
  color: white;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/*----- Fim da formatação da página contato ---------*/
